{
  "openapi": "3.0.3",
  "info": {
    "title": "Erugo Cloud Connect API",
    "description": "API for Erugo Cloud Connect - a service that simplifies domain routing for self-hosted Erugo instances via WireGuard tunnels.",
    "version": "1.0.0",
    "contact": {
      "name": "Erugo Support",
      "email": "support@erugo.cloud"
    }
  },
  "servers": [
    {
      "url": "https://api.erugo.cloud/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/v1",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication endpoints"
    },
    {
      "name": "User",
      "description": "User profile management"
    },
    {
      "name": "Billing",
      "description": "Subscription and payment management"
    },
    {
      "name": "Instances",
      "description": "Erugo instance management"
    },
    {
      "name": "Subdomains",
      "description": "Subdomain availability checking"
    },
    {
      "name": "Custom Domains",
      "description": "Custom domain management for instances"
    },
    {
      "name": "Tunnel",
      "description": "WireGuard tunnel management (instance authentication)"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user account",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate and receive tokens",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh an expired access token",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Request password reset email",
        "operationId": "forgotPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent (if account exists)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Reset password with token from email",
        "operationId": "resetPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/resend-verification": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Resend verification email",
        "description": "Resends the email verification link to the authenticated user. Only works if the email is not already verified.",
        "operationId": "resendVerification",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Email is already verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Verify email via link (returns HTML page)",
        "description": "Direct verification endpoint for email links. Returns an HTML page showing success or failure status.",
        "operationId": "verifyEmailLink",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email verification token from the verification email"
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified successfully (HTML page)",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token (HTML page)",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify email with token (JSON API)",
        "operationId": "verifyEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get current user profile",
        "operationId": "getUser",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update user profile",
        "operationId": "updateUser",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create a Stripe Checkout session",
        "operationId": "createCheckout",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/subscription": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get current subscription details",
        "operationId": "getSubscription",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/portal": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create Stripe Customer Portal session",
        "operationId": "createPortal",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portal session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/webhook": {
      "post": {
        "tags": ["Billing"],
        "summary": "Handle Stripe webhook events",
        "operationId": "stripeWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          },
          "400": {
            "description": "Invalid signature"
          }
        }
      }
    },
    "/instances": {
      "get": {
        "tags": ["Instances"],
        "summary": "List all instances for the authenticated user",
        "operationId": "listInstances",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Instances"],
        "summary": "Create a new instance",
        "operationId": "createInstance",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Instance created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required or instance limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Subdomain already taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}": {
      "get": {
        "tags": ["Instances"],
        "summary": "Get instance details",
        "operationId": "getInstance",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Instances"],
        "summary": "Update instance settings",
        "operationId": "updateInstance",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInstanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instance updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Subdomain already taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Instances"],
        "summary": "Delete an instance",
        "operationId": "deleteInstance",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Instance deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/regenerate-token": {
      "post": {
        "tags": ["Instances"],
        "summary": "Generate a new instance token",
        "operationId": "regenerateInstanceToken",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegenerateTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subdomains/check": {
      "get": {
        "tags": ["Subdomains"],
        "summary": "Check if a subdomain is available",
        "operationId": "checkSubdomain",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubdomainCheckResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/domains": {
      "get": {
        "tags": ["Custom Domains"],
        "summary": "List custom domains for an instance",
        "operationId": "listDomains",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Custom Domains"],
        "summary": "Add a custom domain to an instance",
        "operationId": "addDomain",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required or domain limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Domain already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/domains/{domain}/verify": {
      "post": {
        "tags": ["Custom Domains"],
        "summary": "Trigger DNS verification for a domain",
        "operationId": "verifyDomain",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance or domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/domains/{domain}": {
      "delete": {
        "tags": ["Custom Domains"],
        "summary": "Remove a custom domain",
        "operationId": "deleteDomain",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain removed"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Email verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Instance or domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunnel/register": {
      "post": {
        "tags": ["Tunnel"],
        "summary": "Register WireGuard public key and establish tunnel",
        "operationId": "registerTunnel",
        "security": [{ "instanceAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunnelRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tunnel registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunnelRegisterResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid instance token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunnel/heartbeat": {
      "post": {
        "tags": ["Tunnel"],
        "summary": "Send periodic heartbeat",
        "operationId": "tunnelHeartbeat",
        "security": [{ "instanceAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeartbeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Heartbeat acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid instance token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunnel/disconnect": {
      "post": {
        "tags": ["Tunnel"],
        "summary": "Gracefully disconnect the tunnel",
        "operationId": "disconnectTunnel",
        "security": [{ "instanceAuth": [] }],
        "responses": {
          "200": {
            "description": "Tunnel disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisconnectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid instance token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunnel/status": {
      "get": {
        "tags": ["Tunnel"],
        "summary": "Get current tunnel and domain status",
        "operationId": "getTunnelStatus",
        "security": [{ "instanceAuth": [] }],
        "responses": {
          "200": {
            "description": "Tunnel status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunnelStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid instance token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User access token"
      },
      "instanceAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Instance token for tunnel authentication"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["name", "email", "password", "password_confirmation", "accept_terms", "accept_privacy"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string"
          },
          "accept_terms": {
            "type": "boolean"
          },
          "accept_privacy": {
            "type": "boolean"
          },
          "accept_marketing": {
            "type": "boolean",
            "default": false
          },
          "erugo_version": {
            "type": "string"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserBasic"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": ["Bearer"]
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiry in seconds"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RefreshTokenRequest": {
        "type": "object",
        "required": ["refresh_token"],
        "properties": {
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "RefreshTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "ForgotPasswordRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["token", "password", "password_confirmation"],
        "properties": {
          "token": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string"
          }
        }
      },
      "VerifyEmailRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "UserBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "account_status": {
            "type": "string",
            "enum": ["pending_email_verification", "active", "suspended"]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "account_status": {
            "type": "string",
            "enum": ["pending_email_verification", "active", "suspended"]
          },
          "subscription_status": {
            "type": "string",
            "enum": ["none", "active", "past_due", "canceled", "trialing"]
          },
          "subscription_plan": {
            "type": "string",
            "enum": ["free", "pro", "business"],
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["plan"],
        "properties": {
          "plan": {
            "type": "string",
            "enum": ["pro", "business"]
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "checkout_url": {
            "type": "string",
            "format": "uri"
          },
          "session_id": {
            "type": "string"
          },
          "poll_interval": {
            "type": "integer",
            "description": "Recommended polling interval in milliseconds"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["none", "active", "past_due", "canceled", "trialing"]
          },
          "plan": {
            "type": "string",
            "enum": ["free", "pro", "business"],
            "nullable": true
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancel_at_period_end": {
            "type": "boolean"
          },
          "payment_method": {
            "type": "object",
            "nullable": true,
            "properties": {
              "brand": {
                "type": "string"
              },
              "last4": {
                "type": "string"
              }
            }
          }
        }
      },
      "PortalRequest": {
        "type": "object",
        "required": ["return_url"],
        "properties": {
          "return_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PortalResponse": {
        "type": "object",
        "properties": {
          "portal_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Instance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "full_domain": {
            "type": "string"
          },
          "custom_domain": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["pending", "connected", "disconnected", "error"]
          },
          "tunnel_ip": {
            "type": "string"
          },
          "last_seen": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InstanceListResponse": {
        "type": "object",
        "properties": {
          "instances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Instance"
            }
          }
        }
      },
      "CreateInstanceRequest": {
        "type": "object",
        "required": ["name", "subdomain"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "subdomain": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$",
            "minLength": 3,
            "maxLength": 63
          }
        }
      },
      "CreateInstanceResponse": {
        "type": "object",
        "properties": {
          "instance": {
            "$ref": "#/components/schemas/Instance"
          },
          "credentials": {
            "type": "object",
            "properties": {
              "instance_token": {
                "type": "string"
              },
              "wireguard": {
                "type": "object",
                "properties": {
                  "server_public_key": {
                    "type": "string"
                  },
                  "server_endpoint": {
                    "type": "string"
                  },
                  "client_ip": {
                    "type": "string"
                  },
                  "allowed_ips": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateInstanceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "subdomain": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$",
            "minLength": 3,
            "maxLength": 63
          }
        }
      },
      "RegenerateTokenResponse": {
        "type": "object",
        "properties": {
          "instance_token": {
            "type": "string"
          }
        }
      },
      "SubdomainCheckResponse": {
        "type": "object",
        "properties": {
          "subdomain": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CustomDomain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending_verification", "verified", "failed"]
          },
          "ssl_status": {
            "type": "string",
            "enum": ["pending", "provisioning", "active", "failed"]
          },
          "verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDomain"
            }
          }
        }
      },
      "AddDomainRequest": {
        "type": "object",
        "required": ["domain"],
        "properties": {
          "domain": {
            "type": "string",
            "format": "hostname"
          }
        }
      },
      "AddDomainResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "verification": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["CNAME"]
              },
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "instructions": {
                "type": "string"
              }
            }
          }
        }
      },
      "VerifyDomainResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending_verification", "verified", "failed"]
          },
          "ssl_status": {
            "type": "string",
            "enum": ["pending", "provisioning", "active", "failed"]
          },
          "error": {
            "type": "string"
          }
        }
      },
      "TunnelRegisterRequest": {
        "type": "object",
        "required": ["public_key"],
        "properties": {
          "public_key": {
            "type": "string",
            "description": "WireGuard public key (base64)"
          }
        }
      },
      "TunnelRegisterResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["registered"]
          },
          "tunnel_config": {
            "type": "object",
            "properties": {
              "interface": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  }
                }
              },
              "peer": {
                "type": "object",
                "properties": {
                  "public_key": {
                    "type": "string"
                  },
                  "endpoint": {
                    "type": "string"
                  },
                  "allowed_ips": {
                    "type": "string"
                  },
                  "persistent_keepalive": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "domains": {
            "type": "object",
            "properties": {
              "subdomain": {
                "type": "string"
              },
              "custom_domains": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "HeartbeatRequest": {
        "type": "object",
        "required": ["timestamp"],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HeartbeatResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "next_heartbeat_in": {
            "type": "integer",
            "description": "Seconds until next heartbeat expected"
          }
        }
      },
      "DisconnectResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["disconnected"]
          }
        }
      },
      "TunnelStatusResponse": {
        "type": "object",
        "properties": {
          "tunnel_status": {
            "type": "string",
            "enum": ["connected", "disconnected", "error"]
          },
          "domains": {
            "type": "object",
            "properties": {
              "subdomain": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active", "inactive"]
                  }
                }
              },
              "custom_domains": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "inactive", "pending"]
                    },
                    "ssl_status": {
                      "type": "string",
                      "enum": ["active", "provisioning", "pending", "failed"]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "SUBDOMAIN_TAKEN",
                  "DOMAIN_ALREADY_EXISTS",
                  "SUBSCRIPTION_REQUIRED",
                  "LIMIT_EXCEEDED",
                  "VALIDATION_ERROR",
                  "DNS_VERIFICATION_FAILED",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    }
  }
}
