.Vue-Toastification__close-button {
  opacity: 1!important;
  height: 20px!important;
  width: 20px!important;
  &:hover {
    background: none!important;
  }
}

.Vue-Toastification__progress-bar {
  border-radius: var(--panel-border-radius)!important;
}


.Vue-Toastification__toast {
  border-radius: var(--panel-border-radius)!important;
  border: none;
  overflow: hidden;
  color: var(--panel-text-color) !important;
  background: var(--panel-background-color)!important;
}

.Vue-Toastification__toast--default {
  background: var(--panel-background-color);
  .Vue-Toastification__progress-bar {
    background: var(--link-color);
  }
  .Vue-Toastification__icon {
    color: var(--link-color);
  }
  .Vue-Toastification__close-button {
    color: var(--link-color);
  }
}
.Vue-Toastification__toast--info {
  background: var(--panel-background-color);
  .Vue-Toastification__progress-bar {
    background: var(--link-color);
  }
  .Vue-Toastification__icon {
    color: var(--link-color);
  }
  .Vue-Toastification__close-button {
    color: var(--link-color);
  }
}
.Vue-Toastification__toast--success {
  background: var(--panel-background-color);
  .Vue-Toastification__progress-bar {
    background: var(--color-success);
  }
  .Vue-Toastification__icon {
    color: var(--color-success);
  }
  .Vue-Toastification__close-button {
    color: var(--color-success);
  }
}
.Vue-Toastification__toast--error {
  background: var(--panel-background-color);
  .Vue-Toastification__progress-bar {
    background: var(--color-danger);
  }
  .Vue-Toastification__icon {
    color: var(--color-danger);
  }
  .Vue-Toastification__close-button {
    color: var(--color-danger);
  }
}
.Vue-Toastification__toast--warning {
  background: var(--panel-background-color);
  .Vue-Toastification__progress-bar {
    background: var(--color-warning);
  }
  .Vue-Toastification__icon {
    color: var(--color-warning);
  }
  .Vue-Toastification__close-button {
    color: var(--color-warning);
  }
}

.Vue-Toastification__container.bottom-left,
.Vue-Toastification__container.bottom-right,
.Vue-Toastification__container.bottom-center {
  bottom: 80px !important;
  flex-direction: column-reverse;
}
